<!DOCTYPE HTML>
<html>
<head>
	{%load static %}
    <link href="{% static 'wms/coming_soon/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type="{% static 'wms/coming_soon/text/css'%}">
	</head>
	<body>
	<div class="content">
			<div class="wrap">
				<div class="content-grid">
			<p><img src="{%static 'wms/coming_soon/images/top.png'%}" title=""></p>
				</div>
				<div class="grid">
		<p><img src="{% static 'wms/coming_soon/images/coming.png'%}" title=""></p>
		<h3>We are Still Working on it.</h3>
		<!-- 
		<form>
									<input type="text" size="30" value="Your Email and Get Notified..." onblur="if (this.value=='') this.value = 'Your Email and Get Notified...'" onfocus="if (this.value=='Your Email and Get Notified...') this.value = ''" name="email" id="email">
									<a href="#"><button class="btn span btn-4 btn-4a icon-arrow-right"><span></span></button></a>
					           
									<div id="response"></div>
									
								</form>
								<div class="clear"></div>
								</div> -->
		<div class="clear"></div>
		<!-- <div class="footer">
			<p class="a"><a href="#"><img src="images/facebook.png" title=""></a><a href="#"><img src="images\twitter.png" title=""></a></p>
		<p>Copyright 2013&nbspTemplate by <a href="http://w3layouts.com"> w3layouts.com</a> </p>
		</div> -->
		<div class="clear"></div>
		</div>
		</div>
		<div class="clear"></div>
</body>
</html>