/*                 #0cdbff                   */
body{
  background-image: url('f.jpg');
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  padding: 0em 0em 0em 0em;
  margin: 0px 0px 0px 0px;
  border: 0em 0em 0em 0em;
  
}
.agileinfo-dot {
    background: url('dott.png')repeat 0px 0px;
    background-size: 3px;
    -webkit-background-size: 3px;
    -moz-background-size: 3px;
    -o-background-size: 3px;
    -ms-background-size: 3px;
    padding: 0em 0em 0em 0em;
    min-height: 100vh;
    border: 0em 0em 0em 0em;
   margin: 0px 0px 0px 0px;
  
  
}
.banner{
    
    background-size: cover;
    
    padding: 0em 0em 0em 0em;
    border: 0em 0em 0em 0em;
    margin: 0px 0px 0px 0px;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0em 0em 0em 0em;
    border: 0em 0em 0em 0em;
    margin: 0px 0px 0px 0px;
}
.blu{
  color: #0cdbff;

}
.container{
  /*border:1px solid white;*/
  width: 700px;
  height: 450px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex; 
}
.backbox{  
  background-color: black;
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0,-50%);
  opacity: 0.6;
  top:50%;
  display: inline-flex;
}

.frontbox{
  background-color:  black;
  opacity: 0.8;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
  right:0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right .8s ease-in-out;
}

.moving{
  right:45%;
}

.loginMsg, .signupMsg{
  width: 50%;
  height: 100%;
  font-size: 27px;
  box-sizing: border-box;
}

.loginMsg .title,
.signupMsg .title{
  font-weight: 300;
  font-size: 27px;
}

.loginMsg p,
.signupMsg p {
  font-weight: 100;
}

.textcontent{
  color:white;
  margin-top:65px;
  margin-left: 12%;
}

.loginMsg button,
.signupMsg button {
  background-color: #404040;
  border: 2px solid white;
  border-radius: 10px;
  color:white;
  font-size: 12px;
  box-sizing: content-box;
  font-weight: 300;
  padding:10px;
  margin-top: 20px;
}

/* front box content*/
.login, .signup{
  padding: 20px;
  text-align: center;
}

.login h2,
.signup h2 {
  color:  #f0f3f4;
  font-size:25px;
}

.inputbox{
  margin-top:30px; 
}
.login input, 
.signup input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom:20px;
  font-size: 17px;
  padding-left: 5px;
}

.login button,
.signup button{
  background-color:  #f0f3f4;
  border: none;
  color:black;
  font-size: 17px;
  font-weight: 300;
  box-sizing: content-box;
  padding:10px;
  border-radius: 10px;
  width: 60px;
  position: absolute;
  right:30px;
  bottom: 30px;
  cursor: pointer;
}

#signupButton{
  width: 80px;
}

/* Fade In & Out*/
.login p {
  cursor: pointer;
  color:#404040;
  font-size:15px;
}

.loginMsg, .signupMsg{
  /*opacity: 1;*/
  transition: opacity .8s ease-in-out;
}

.visibility{
  opacity: 0;
}

.hide{
  display: none;
}
